<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="100487"
	android:versionName="487.0.211015.stable_reiryuki"
	android:compileSdkVersion="30"
	android:compileSdkVersionCodename="11"
	package="com.miui.cleanmaster"
	platformBuildVersionCode="30"
	platformBuildVersionName="11"
	>
	<uses-sdk
		android:minSdkVersion="19"
		android:targetSdkVersion="29"
		>
	</uses-sdk>
	<uses-permission
		android:name="com.android.launcher3.permission.READ_SETTINGS"
		>
	</uses-permission>
	<uses-permission
		android:name="com.google.android.launcher.permission.READ_SETTINGS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.REQUEST_DELETE_PACKAGES"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.DELETE_PACKAGES"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_MEDIA_LOCATION"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
		>
	</uses-permission>
	<uses-permission
		android:name="com.android.settings.permission.CLOUD_SETTINGS_PROVIDER"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.WRITE_SECURE_SETTINGS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.CREATE_USERS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.MANAGE_USERS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.RECEIVE_BOOT_COMPLETED"
		>
	</uses-permission>
	<uses-permission
		android:name="miui.permission.EXTRA_NETWORK"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.INTERACT_ACROSS_USERS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_SURFACE_FLINGER"
		>
	</uses-permission>
	<permission
		android:name="com.miui.cleanmaster.permission.Clean_Master"
		>
	</permission>
	<uses-permission
		android:name="com.android.launcher.permission.READ_SETTINGS"
		>
	</uses-permission>
	<uses-permission
		android:name="com.mi.android.globallauncher.permission.READ_SETTINGS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.GET_TASKS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.GET_PACKAGE_SIZE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.CLEAR_APP_CACHE"
		>
	</uses-permission>
	<uses-permission
		android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS"
		>
	</uses-permission>
	<uses-permission
		android:name="com.android.browser.permission.WRITE_HISTORY_BOOKMARKS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.SYSTEM_ALERT_WINDOW"
		>
	</uses-permission>
	<uses-permission
		android:name="miui.permission.MEMORY_CHECK"
		>
	</uses-permission>
	<uses-permission
		android:name="com.xiaomi.gallery.permission.DELETE_SIMILAR_IMAGE"
		>
	</uses-permission>
	<uses-permission
		android:name="com.miui.monthreport.permission.DATA_MONTH_REPORT"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.INTERNET"
		>
	</uses-permission>
	<uses-permission
		android:name="miui.permission.USE_INTERNAL_GENERAL_API"
		>
	</uses-permission>
	<uses-permission
		android:name="com.miui.securitycenter.permission.NOTIFICATION_SERVICE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_NETWORK_STATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_WIFI_STATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.READ_PHONE_STATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_COARSE_LOCATION"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_FINE_LOCATION"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.CHANGE_WIFI_STATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.VIBRATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.RECORD_AUDIO"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.WRITE_EXTERNAL_STORAGE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.READ_CALENDAR"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.WRITE_CALENDAR"
		>
	</uses-permission>
	<uses-permission
		android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.READ_LOGS"
		>
	</uses-permission>
	<uses-permission
		android:name="com.miui.gallery.permission.DELETE_IMAGE"
		>
	</uses-permission>
	<uses-permission
		android:name="com.miui.cleanmaster.permission.Clean_Master"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.READ_EXTERNAL_STORAGE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.BIND_JOB_SERVICE"
		>
	</uses-permission>
	<uses-permission
		android:name="com.xiaomi.permission.ACCESS_SECURITY_DEVICE_CREDENTIAL"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.REQUEST_INSTALL_PACKAGES"
		>
	</uses-permission>
	<uses-permission
		android:name="com.anroid.settings.permission.PRIVACY_AUTHORIZATION_DIALOG"
		>
	</uses-permission>
	<uses-permission
		android:name="com.miui.securitycenter.permission.CLEANER_MANAGE"
		>
	</uses-permission>
	<uses-permission
		android:name="com.android.launcher.permission.INSTALL_SHORTCUT"
		>
	</uses-permission>
	<uses-permission
		android:name="com.miui.home.launcher.permission.UNINSTALL_SHORTCUT"
		>
	</uses-permission>
	<uses-permission
		android:name="com.miui.systemAdSolution.adSwitch.PROVIDER"
		>
	</uses-permission>
	<uses-permission
		android:name="com.miui.voiceassist.QUERY_ENABLE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.READ_SYNC_SETTINGS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.FOREGROUND_SERVICE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_MTP"
		>
	</uses-permission>
	<uses-permission
		android:name="com.miui.cleanmaster.permission.UPDATE_SHORTCUT"
		>
	</uses-permission>
	<uses-permission
		android:name="com.miui.securitycenter.permission.ACCESS_SECURITY_CENTER_PROVIDER"
		>
	</uses-permission>
	<uses-permission
		android:name="com.miui.cleaner.permission.REMOTE_NOTIFICATION"
		>
	</uses-permission>
	<application
		android:label="@7F110024"
		android:icon="@7F080161"
		android:name="com.miui.optimizecenter.Application"
		android:backupAgent="com.miui.optimizecenter.cloudbackup.SettingsLocalBackupAgent"
		android:hardwareAccelerated="true"
		android:largeHeap="true"
		android:uiOptions="0x00000001"
		android:supportsRtl="true"
		android:resizeableActivity="true"
		android:networkSecurityConfig="@7F140001"
		android:appComponentFactory="androidx.core.app.CoreComponentFactory"
		android:usesNonSdkApi="true"
		android:requestLegacyExternalStorage="true"
		android:preserveLegacyExternalStorage="true"
		android:requestRawExternalStorageAccess="true"
		>
		<uses-library
			android:name="miui"
			android:required="false"
			>
		</uses-library>
		<activity
			android:theme="@7F120211"
			android:label="@7F110024"
			android:icon="@7F080161"
			android:name="com.miui.optimizecenter.MainActivity"
			android:launchMode="1"
			android:screenOrientation="2"
			android:configChanges="0x00000D80"
			>
			<intent-filter
				>
				<action
					android:name="miui.intent.action.GARBAGE_CLEANUP"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
			<intent-filter
				>
				<data
					android:scheme="cleanmaster"
					android:host="home"
					android:path="/mainActivity"
					>
				</data>
				<action
					android:name="android.intent.action.VIEW"
					>
				</action>
				<category
					android:name="android.intent.category.BROWSABLE"
					>
				</category>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</activity>
		<activity
			android:theme="@7F1201FE"
			android:label="@7F110129"
			android:name="com.miui.optimizecenter.deepclean.DeepCleanActivity"
			android:launchMode="1"
			android:screenOrientation="2"
			android:configChanges="0x00000D80"
			>
			<intent-filter
				>
				<data
					android:scheme="cleanmaster"
					android:host="home"
					android:path="/deepclean/main"
					>
				</data>
				<action
					android:name="android.intent.action.VIEW"
					>
				</action>
				<category
					android:name="android.intent.category.BROWSABLE"
					>
				</category>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="miui.intent.action.GARBAGE_DEEPCLEAN"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</activity>
		<activity
			android:theme="@7F1200E1"
			android:label="@7F110022"
			android:name="com.miui.optimizecenter.deepclean.apk.ApkListActivity"
			android:launchMode="1"
			android:screenOrientation="2"
			android:configChanges="0x00000D80"
			>
			<intent-filter
				>
				<data
					android:scheme="cleanmaster"
					android:host="home"
					android:path="/deepclean/apk"
					>
				</data>
				<action
					android:name="android.intent.action.VIEW"
					>
				</action>
				<category
					android:name="android.intent.category.BROWSABLE"
					>
				</category>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="miui.intent.action.GARBAGE_APK_MANAGE"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</activity>
		<activity
			android:theme="@7F120212"
			android:name="com.miui.optimizecenter.appcleaner.AppCleanerActivity"
			android:launchMode="1"
			android:screenOrientation="2"
			android:configChanges="0x00000D80"
			>
			<intent-filter
				>
				<data
					android:scheme="cleanmaster"
					android:host="home"
					android:path="/deepclean/wechat"
					>
				</data>
				<action
					android:name="android.intent.action.VIEW"
					>
				</action>
				<category
					android:name="android.intent.category.BROWSABLE"
					>
				</category>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
			<intent-filter
				>
				<data
					android:scheme="cleanmaster"
					android:host="home"
					android:path="/deepclean/qq"
					>
				</data>
				<action
					android:name="android.intent.action.VIEW"
					>
				</action>
				<category
					android:name="android.intent.category.BROWSABLE"
					>
				</category>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="miui.intent.action.GARBAGE_DEEPCLEAN_WECHAT"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="miui.intent.action.GARBAGE_DEEPCLEAN_QQ"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</activity>
		<activity
			android:theme="@7F1200E1"
			android:name="com.miui.optimizecenter.deepclean.appclean.detail.GroupDetailActivity"
			android:launchMode="1"
			android:screenOrientation="2"
			android:configChanges="0x00000D80"
			>
		</activity>
		<activity
			android:theme="@7F120213"
			android:label="@7F110515"
			android:name="com.miui.optimizecenter.deepclean.appclean.whatsapp.WhatsappCleanerActivity"
			android:launchMode="1"
			android:screenOrientation="2"
			android:configChanges="0x00000D80"
			>
			<intent-filter
				>
				<data
					android:scheme="cleanmaster"
					android:host="home"
					android:path="/deepclean/whatsapp"
					>
				</data>
				<action
					android:name="android.intent.action.VIEW"
					>
				</action>
				<category
					android:name="android.intent.category.BROWSABLE"
					>
				</category>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="miui.intent.action.GARBAGE_DEEPCLEAN_WHATSAPP"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</activity>
		<activity
			android:theme="@7F1200E1"
			android:label="@7F110515"
			android:name="com.miui.optimizecenter.deepclean.appclean.detail.ViewImageAndGifActivity"
			android:screenOrientation="2"
			android:configChanges="0x00000D80"
			>
		</activity>
		<activity
			android:theme="@7F1200E1"
			android:label="@7F1104DD"
			android:name="com.miui.optimizecenter.appcleaner.deepclean.ImageViewerActivity"
			android:screenOrientation="2"
			android:configChanges="0x00000D80"
			>
		</activity>
		<activity
			android:theme="@7F12022F"
			android:label="@7F1104DD"
			android:name="com.miui.optimizecenter.appcleaner.deepclean.GroupCleanActivity"
			android:screenOrientation="2"
			android:configChanges="0x00000DA0"
			>
		</activity>
		<activity
			android:theme="@7F1200E1"
			android:label="@7F110033"
			android:name="com.miui.optimizecenter.deepclean.video.VideoListActivity"
			android:launchMode="1"
			android:screenOrientation="2"
			android:configChanges="0x00000D80"
			>
			<intent-filter
				>
				<data
					android:scheme="cleanmaster"
					android:host="home"
					android:path="/deepclean/video"
					>
				</data>
				<action
					android:name="android.intent.action.VIEW"
					>
				</action>
				<category
					android:name="android.intent.category.BROWSABLE"
					>
				</category>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="miui.intent.action.GARBAGE_VIDEO_MANAGE"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</activity>
		<activity
			android:theme="@7F1200E0"
			android:label="@7F110021"
			android:name="com.miui.optimizecenter.deepclean.appdata.AppDataActivity"
			android:launchMode="1"
			android:screenOrientation="2"
			android:configChanges="0x00000D80"
			>
			<intent-filter
				>
				<data
					android:scheme="cleanmaster"
					android:host="home"
					android:path="/deepclean/appdata"
					>
				</data>
				<action
					android:name="android.intent.action.VIEW"
					>
				</action>
				<category
					android:name="android.intent.category.BROWSABLE"
					>
				</category>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="miui.intent.action.GARBAGE_APP_DATA_MANAGE"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</activity>
		<activity
			android:theme="@7F1200E0"
			android:label="@7F110032"
			android:name="com.miui.optimizecenter.deepclean.installedapp.InstalledAppsActivity"
			android:launchMode="1"
			android:screenOrientation="2"
			android:configChanges="0x00000D80"
			>
			<intent-filter
				>
				<data
					android:scheme="cleanmaster"
					android:host="home"
					android:path="/deepclean/installedapp"
					>
				</data>
				<action
					android:name="android.intent.action.VIEW"
					>
				</action>
				<category
					android:name="android.intent.category.BROWSABLE"
					>
				</category>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="miui.intent.action.GARBAGE_UNINSTALL_APPS"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="miui.intent.action.GARBAGE_UNINSTALL_APPS_NEW"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</activity>
		<activity
			android:theme="@7F1200E0"
			android:label="@7F110027"
			android:name="com.miui.optimizecenter.deepclean.largefile.LargeFilesActivity"
			android:launchMode="1"
			android:screenOrientation="2"
			android:configChanges="0x00000D80"
			>
			<intent-filter
				>
				<data
					android:scheme="cleanmaster"
					android:host="home"
					android:path="/deepclean/largefile"
					>
				</data>
				<action
					android:name="android.intent.action.VIEW"
					>
				</action>
				<category
					android:name="android.intent.category.BROWSABLE"
					>
				</category>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="miui.intent.action.GARBAGE_LARGE_FILE_MANAGE"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</activity>
		<activity
			android:theme="@7F1200E1"
			android:label="@7F11002A"
			android:name="com.miui.optimizecenter.deepclean.PrivacyCacheActivity"
			android:launchMode="1"
			android:screenOrientation="2"
			android:configChanges="0x00000D80"
			>
		</activity>
		<activity
			android:theme="@7F120208"
			android:label="@7F110188"
			android:name="com.miui.optimizecenter.webview.NewsActivity"
			android:launchMode="1"
			android:screenOrientation="2"
			android:configChanges="0x00000D80"
			>
		</activity>
		<activity
			android:theme="@7F1200E1"
			android:name="com.miui.optimizecenter.deepclean.PicCleanActivity"
			android:launchMode="1"
			android:screenOrientation="2"
			android:configChanges="0x00000D80"
			>
		</activity>
		<activity
			android:theme="@7F1200E1"
			android:label="@7F110030"
			android:name="com.miui.optimizecenter.similarimage.SimilarImageGroupActivity"
			android:launchMode="1"
			android:screenOrientation="2"
			android:configChanges="0x00000D80"
			>
		</activity>
		<activity
			android:theme="@7F1200E1"
			android:label="@7F110417"
			android:name="com.miui.optimizecenter.similarimage.ImageGalleryActivity"
			android:launchMode="1"
			android:screenOrientation="2"
			android:configChanges="0x00000D80"
			>
		</activity>
		<activity
			android:theme="@7F1200E1"
			android:label=""
			android:name="com.miui.optimizecenter.similarimage.ImageGridActivity"
			android:launchMode="1"
			android:screenOrientation="2"
			android:configChanges="0x00000D80"
			>
		</activity>
		<activity
			android:theme="@7F1200E1"
			android:label="@7F110417"
			android:name="com.miui.optimizecenter.similarimage.ImageCategoryListActivity"
			android:launchMode="1"
			android:screenOrientation="2"
			android:configChanges="0x00000D80"
			>
			<intent-filter
				>
				<data
					android:scheme="cleanmaster"
					android:host="home"
					android:path="/deepclean/image"
					>
				</data>
				<action
					android:name="android.intent.action.VIEW"
					>
				</action>
				<category
					android:name="android.intent.category.BROWSABLE"
					>
				</category>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="miui.intent.action.GARBAGE_IMAGE_MANAGE"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</activity>
		<activity
			android:theme="@7F120213"
			android:label="@7F1101A1"
			android:name="com.miui.optimizecenter.deepclean.appclean.facebook.FacebookCleanerActivity"
			android:launchMode="1"
			android:screenOrientation="2"
			android:configChanges="0x00000D00"
			>
			<intent-filter
				>
				<data
					android:scheme="cleanmaster"
					android:host="home"
					android:path="/deepclean/facebook"
					>
				</data>
				<action
					android:name="android.intent.action.VIEW"
					>
				</action>
				<category
					android:name="android.intent.category.BROWSABLE"
					>
				</category>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="miui.intent.action.GARBAGE_DEEPCLEAN_FACEBOOK"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</activity>
		<activity
			android:theme="@7F120216"
			android:label="@7F11002E"
			android:name="com.miui.optimizecenter.settings.SettingsActivity"
			android:launchMode="1"
			android:screenOrientation="2"
			>
			<intent-filter
				>
				<action
					android:name="com.miui.securitycenter.action.GARBAGE_CLEANUP_SETTINGS"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</activity>
		<activity
			android:theme="@7F120216"
			android:label="@7F110034"
			android:name="com.miui.optimizecenter.whitelist.WhiteListActivity"
			android:launchMode="1"
			android:screenOrientation="2"
			>
		</activity>
		<activity
			android:theme="@7F120216"
			android:label="@7F11002E"
			android:name="com.miui.optimizecenter.appcleaner.AppCleanSettingsActivity"
			android:exported="false"
			android:launchMode="1"
			android:screenOrientation="2"
			>
			<intent-filter
				>
				<action
					android:name="com.miui.securitycenter.action.APP_GARBAGE_CLEANUP_SETTINGS"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</activity>
		<activity
			android:theme="@7F120216"
			android:label="@7F11002E"
			android:name="com.miui.optimizecenter.videoclean.VideoCleanSettingsActivity"
			android:launchMode="1"
			android:screenOrientation="2"
			>
		</activity>
		<activity
			android:theme="@7F120216"
			android:label="@7F11002E"
			android:name="com.miui.optimizecenter.deepclean.appclean.whatsapp.WhatsappSettingsActivity"
			android:launchMode="1"
			android:screenOrientation="2"
			>
		</activity>
		<activity
			android:theme="@7F120212"
			android:name="com.miui.optimizecenter.videoclean.VideoCleanActivity"
			android:launchMode="1"
			android:screenOrientation="2"
			android:configChanges="0x00000D00"
			>
			<intent-filter
				>
				<action
					android:name="com.miui.cleaner.action.GARBAGE_VIDEO_CLEAN"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</activity>
		<activity
			android:theme="@7F1200E1"
			android:label="@7F110388"
			android:name="com.miui.optimizecenter.power.PowerAccelerationActivity"
			android:launchMode="1"
			android:screenOrientation="2"
			>
			<intent-filter
				>
				<action
					android:name="com.miui.cleaner.intent.action.GARBAGE_POWER_ACCELERATION"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</activity>
		<service
			android:name="com.miui.optimizecenter.service.CleanMasterService"
			android:exported="true"
			>
			<intent-filter
				>
				<action
					android:name="com.miui.cleanmaster.GARBAGE_MEMORY_ICON_MANAGER"
					>
				</action>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="com.miui.cleanmaster.GARBAGE_PKG_REMOVED"
					>
				</action>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="com.miui.cleanmaster.GARBAGE_PKG_ADD"
					>
				</action>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="com.miui.cleaner.POWER_ACCELERATION"
					>
				</action>
			</intent-filter>
		</service>
		<meta-data
			android:name="android.max_aspect"
			android:value="2.2"
			>
		</meta-data>
		<meta-data
			android:name="app_description_title"
			android:value="@7F110045"
			>
		</meta-data>
		<meta-data
			android:name="app_description_content"
			android:value="@7F110044"
			>
		</meta-data>
		<meta-data
			android:name="support_small_window"
			android:value="true"
			>
		</meta-data>
		<uses-library
			android:name="cloud-common.jar"
			android:required="false"
			>
		</uses-library>
		<uses-library
			android:name="android-support-v13.jar"
			android:required="false"
			>
		</uses-library>
		<uses-library
			android:name="org.apache.http.legacy"
			android:required="false"
			>
		</uses-library>
		<meta-data
			android:name="miui.supportAppContinuity"
			android:value="true"
			>
		</meta-data>
		<service
			android:name="com.miui.optimizecenter.LowMemoryCleanService"
			android:permission="com.miui.cleanmaster.permission.Clean_Master"
			>
			<intent-filter
				>
				<action
					android:name="com.miui.cleanmaster.action.CHECK_GARBAGE_CLEANUP"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="com.miui.cleanmaster.action.START_LOW_MEMORY_CLEAN"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="com.miui.cleanmaster.action.CLOUD_DATA_UPDATE"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="miui.intent.action.LOW_MEMORY_GARBAGE_DEEPCLEAN"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</service>
		<service
			android:name="com.miui.optimizecenter.garbagecheck.GarbageCheckService"
			android:permission="com.miui.cleanmaster.permission.Clean_Master"
			>
			<intent-filter
				>
				<action
					android:name="com.miui.cleanmaster.action.CHECK_GARBAGE_CHECK"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</service>
		<service
			android:name="com.miui.optimizecenter.EmptyService"
			android:permission="com.miui.cleanmaster.permission.Clean_Master"
			>
			<intent-filter
				>
				<action
					android:name="com.miui.cleanmaster.action.AUTO_UPDATE_CLEANMASTER_DB"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="com.miui.cleanmaster.action.CHECK_GARBAGE_CLEANUP"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="com.miui.cleanmaster.action.CLOUD_DATA_UPDATE"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</service>
		<service
			android:name="com.miui.optimizecenter.timed.TimedScanJobService"
			android:permission="android.permission.BIND_JOB_SERVICE"
			>
		</service>
		<service
			android:name="com.miui.optimizecenter.cloudcontrol.CloudControlSyncJobService"
			android:permission="android.permission.BIND_JOB_SERVICE"
			>
		</service>
		<service
			android:name="com.miui.optimizecenter.timed.TimedUpdateCleanUpDbJobService"
			android:permission="android.permission.BIND_JOB_SERVICE"
			>
		</service>
		<service
			android:name="com.miui.optimizecenter.timed.AppTimedScanJobService"
			android:permission="android.permission.BIND_JOB_SERVICE"
			>
		</service>
		<service
			android:name="com.miui.optimizecenter.timed.WaTimedScanJobService"
			android:permission="android.permission.BIND_JOB_SERVICE"
			>
		</service>
		<service
			android:name="com.miui.optimizecenter.timed.AppDelayJobService"
			android:permission="android.permission.BIND_JOB_SERVICE"
			>
		</service>
		<activity
			android:theme="@7F12020A"
			android:label="@7F110023"
			android:name="com.miui.optimizecenter.LowMemoryIntentDispatchActivity"
			>
			<intent-filter
				>
				<action
					android:name="miui.intent.action.LOW_MEMORY_GARBAGE_DEEPCLEAN"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</activity>
		<activity
			android:theme="@7F12020D"
			android:name="com.miui.optimizecenter.onekeyclean.MemoryCleanActivity"
			android:excludeFromRecents="true"
			android:launchMode="3"
			android:configChanges="0x00000D00"
			>
			<intent-filter
				>
				<action
					android:name="miui.intent.action.GARBAGE_MEMORY_CLEAN"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</activity>
		<activity
			android:theme="@7F12020A"
			android:name="com.miui.optimizecenter.common.PrivacyPolicyDialog"
			android:excludeFromRecents="true"
			android:launchMode="1"
			android:configChanges="0x00000D80"
			>
		</activity>
		<receiver
			android:name="com.miui.optimizecenter.information.DownloadInstallReceiver"
			>
			<intent-filter
				>
				<action
					android:name="com.xiaomi.market.DOWNLOAD_INSTALL_RESULT"
					>
				</action>
			</intent-filter>
		</receiver>
		<activity
			android:name="com.facebook.ads.InterstitialAdActivity"
			android:configChanges="0x000004A0"
			>
		</activity>
		<meta-data
			android:name="com.google.android.gms.version"
			android:value="11200000"
			>
		</meta-data>
		<activity
			android:theme="@01030011"
			android:name="com.google.android.gms.ads.AdActivity"
			android:configChanges="0x00000FB0"
			>
		</activity>
		<provider
			android:name="com.miui.optimizecenter.provider.HookedFileProvider"
			android:exported="false"
			android:authorities="com.miui.cleanmaster.fileProvider"
			android:grantUriPermissions="true"
			>
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@7F140004"
				>
			</meta-data>
		</provider>
		<service
			android:name="com.miui.optimizecenter.cloudbackup.SettingsCloudBackUpService"
			android:permission="com.xiaomi.permission.CLOUD_MANAGER"
			android:exported="true"
			>
			<intent-filter
				>
				<action
					android:name="miui.action.CLOUD_BACKUP_SETTINGS"
					>
				</action>
				<action
					android:name="miui.action.CLOUD_RESTORE_SETTINGS"
					>
				</action>
			</intent-filter>
		</service>
		<service
			android:name="com.miui.optimizecenter.dirinfo.DirInfoQueryService"
			android:exported="true"
			android:process=":micleansdk"
			>
			<intent-filter
				>
				<action
					android:name="com.miui.cleanmaster.DIR_INFO_QUERY_SERVICE"
					>
				</action>
			</intent-filter>
		</service>
		<activity
			android:theme="@7F1200E2"
			android:name="com.miui.optimizecenter.ads.NativeInterstitialAdActivity"
			android:screenOrientation="2"
			>
		</activity>
		<service
			android:name="com.cleanmaster.CleanService"
			android:permission="com.miui.cleanmaster.permission.Clean_Master"
			android:exported="false"
			android:process=":micleansdk"
			>
			<intent-filter
				>
				<action
					android:name="com.cleanmaster.action.sdk.CleanService"
					>
				</action>
			</intent-filter>
		</service>
		<receiver
			android:name="com.cleanmaster.callactive.CallActiveReceiver"
			android:exported="false"
			android:process=":micleansdk"
			>
			<intent-filter
				>
				<action
					android:name="cm.intent.action.callactive"
					>
				</action>
			</intent-filter>
		</receiver>
		<meta-data
			android:name="miuixpreference"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="appcompat"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="textutilities"
			android:value="2.0"
			>
		</meta-data>
		<meta-data
			android:name="miuixbasewidget"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="pinyin"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="com.miui.maml.sdk"
			android:value="true"
			>
		</meta-data>
		<meta-data
			android:name="springback"
			android:value="2.0"
			>
		</meta-data>
		<meta-data
			android:name="slidingwidget"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="pickerwidget"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="popupwidget"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="androidbasewidget"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="recyclerview"
			android:value="2.0"
			>
		</meta-data>
		<meta-data
			android:name="nest"
			android:value="2.0"
			>
		</meta-data>
		<meta-data
			android:name="dynamicoverscroller"
			android:value="2.0"
			>
		</meta-data>
		<meta-data
			android:name="recyclerview_animator"
			android:value="2.0"
			>
		</meta-data>
		<meta-data
			android:name="folme"
			android:value="2.0"
			>
		</meta-data>
		<meta-data
			android:name="haptic"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="smooth"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="graphics"
			android:value="2.0"
			>
		</meta-data>
		<meta-data
			android:name="core"
			android:value="2.0"
			>
		</meta-data>
		<meta-data
			android:name="blurdrawable"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="viewpager"
			android:value="2.0"
			>
		</meta-data>
		<meta-data
			android:name="animation"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="spring"
			android:value="1.0"
			>
		</meta-data>
		<meta-data
			android:name="devicebaseinfo"
			android:value="1.0"
			>
		</meta-data>
	</application>
</manifest>
